<h1><%= @sport.name %></h1>
<div class="container">
  <div class="row">
  <% @items.each do |item| %>
        <div class="col-md-4">
      <div class="card mb-4 box-shadow">
         <%= cl_image_tag item.photo.key %>
        <div class="card-body">
          <h3 class="card-text"><%= item.name %></h3>
          <h3 class="card-text"><%= item.description %></h3>
          <h3 class="card-text"><%= item.price %></h3>
          <div class="d-flex justify-content-between align-items-center">
             <div class="btn-group">
                <%= link_to sport_item_path(@sport,item) , class: "btn btn-sm btn-outline-secondary" do %>
                   View
                <% end %>
             </div>
          </div>
        </div>
      </div>
    </div>
  <% end  %>
    </div>
</div>
