<div class="section about-section gray-bg" id="bio">
  <%= simple_form_for(@user, url: user_path(@user)) do |f| %>
    <div class="container">
      <div class="row align-items-center flex-row-reverse">
        <div class="col-md-6">
            <div class="about-text go-to">
                <%= f.input :username, placeholder: "Username", label: "Username" %>
                <div class="row about-list">
                    <div class="col-md-6">
                        <div class="media">
                            <%= f.input :photo, placeholder: "Photo", label: "Photo" %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="media">
                            <%= f.input :email, placeholder: "Email", label: "Email" %>
                        </div>
                        <div class="media">
                            <%= f.input :phone_number, placeholder: "Télephone", label: "Télephone" %>
                        </div>
                       <br>
                        <%= f.button :submit, "Enregister", id: "edit-btn"%>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="about-avatar">
              <% if current_user.photo.key == nil %>
                <%= image_tag "https://i.pravatar.cc/300" %>
              <% else %>
                <%= cl_image_tag current_user.photo.key %>
              <% end %>
          </div>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
