
    <div class="testimonials-container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                  <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <h1> <strong>Our users feedback</strong> </h1>

                        <div class="carousel-item active">
                            <div class="row">
                              <div class="feedback">
                              <%= image_tag "https://kitt.lewagon.com/placeholder/users/karimce", class: "avatar-large" %>

                                <h3> <strong> <%= @feedbacks[0].user.username %></strong> </h3>
                                <h3> <strong> <%= @feedbacks[0].rating %> </strong> </h3>
                                <p class="testimonial-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim molestias at nemo autem, quisquam voluptas exercitationem harum, animi blanditiis fugiat accusantium amet accusamus tenetur voluptatum eum quas assumenda sed! Autem.</p>
                             </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                             <div class="feedback">
                                <%= image_tag "https://avatars.githubusercontent.com/u/74985628?v=4", class: "avatar-large" %>
                                <h3> <strong> <%= @feedbacks[1].user.username %> </strong></h3>
                                <h3> <strong> <%= @feedbacks[1].rating %> </strong></h3>
                                <p class="testimonial-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim molestias at nemo autem, quisquam voluptas exercitationem harum, animi blanditiis fugiat accusantium amet accusamus tenetur voluptatum eum quas assumenda sed! Autem.</p>
                             </div>
                            </div>
                        </div>

                         <div class="carousel-item">
                            <div class="row">
                             <div class="feedback">
                                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ahmedidrissik", class: "avatar-large" %>
                                <h3> <strong> <%= @feedbacks[2].user.username%> </strong></h3>
                                <h3> <strong> <%= @feedbacks[2].rating %></strong></h3>
                                <p class="testimonial-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim molestias at nemo autem, quisquam voluptas exercitationem harum, animi blanditiis fugiat accusantium amet accusamus tenetur voluptatum eum quas assumenda sed! Autem.</p>
                             </div>
                            </div>
                        </div>
                    </div>
                      <button class="carousel-control-prev carousel-left-btn" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                        <i class="fa fa-arrow-left carousel-arrow"></i>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next carousel-right-btn" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                        <i class="fa fa-arrow-right carousel-arrow"></i>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>
        </div>
    </div>
