
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                  <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                              <% @trending_football.each do  |item|  %>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <%= image_tag("zizou.jpeg")  %>
                                        <%# <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
                                        <div class="card-body">
                                            <h4 class="card-title"> <%= item.name %> </h4>
                                            <p class="card-text"> <%= item.description %> </p>
                                            <p class="card-footer"> <%= item.price %> </p>
                                        </div>

                                    </div>
                                </div>
                              <% end %>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <% @trending_basketball.each do  |item|  %>
                                <div class="col-md-4 mb-3">

                                    <div class="card">
                                        <%= image_tag("curry.jpeg")  %>
                                        <div class="card-body">
                                            <h4 class="card-title">Basket Ball</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>

                                </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <% @trending_tennis.each do  |item|  %>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <% @trending_golf.each do  |item|  %>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ee8417f0ea2a50d53a12665820b54e23">
                                        <div class="card-body">
                                            <h4 class="card-title">Special title treatment</h4>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                        </div>

                                    </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </div>
        </div>
    </div>
</section>
