<div class="login-body">
  <div class="container-login" id="login">
	<div class="form-container sign-in-container">
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2>Connectez vous</h2>
			  <span>entrez votre email pour vous identifier</span>
        <div class="hidden-label">
        <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", placeholder: "Email" } %>
        <%= f.input :password,
                    required: false,
                  input_html: { autocomplete: "current-password", placeholder: "Mot de passe" } %>
        </div>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, "Log in" %>
      <% end %>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Bienvenue!</h1>
				<p>Entrez vos données personnelles et rejoignez notre communauté</p>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class: "ghost" %><br />
        <% end %>
			</div>
		</div>
	</div>
 </div>
</div>
