 <div class="container item-form">
  <h2>nouvelle annonce :</h2>
  <%= simple_form_for [@item] do |f| %>
    <%= f.input :name, placeholder: "Nom de l'article" %>
    <%= f.input :description, placeholder: "Description" %>
    <%= f.input :price, placeholder: "Prix"%>
    <%= f.association :sport, prompt: "Select sport"%>
    <%= f.input :photo, as: :file %>

    <%= f.button :submit, {class: "btn btn-primary "}%>
  <% end %>
</div>
