<div class="item mx-5 my-5" style="border-radius: 4px;  box-shadow: 4px 0px 4px #B2B2B2;">
  <div class="row">
    <div class="col-sm-7 col-xs-12 mt-3" box-shadow: 4px 0px 4px #B2B2B2;>
       <%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="col-sm-5 col-xs-12 mt-3">
      <h1 style="color: black; font-weight: 700;"> <%= @item.name %> </h1>
      <h3> <%= @item.price.to_i %> MAD </h3>
      <p> <%= @item.description %> </p>
      <button id="cta" class="details-btn">Contacter le vendeur</button>
      <p id="phone" class="d-none" style="color: black; font-weight: 600;" >Télephone : <%= @item.user.phone_number %> </p>
    </div>
  </div>
</div>

<script>
  document.getElementById("cta").addEventListener("click", (event)=> {
    document.getElementById("phone").classList.remove("d-none");
    document.getElementById("cta").classList.add("d-none");
  })
</script>
